body, h1, h2, p {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.fixed{
    position: fixed;
    border: solid 3px red;
    background-color: blue;
    float: left;
    align-items: end;
}

.container {
    max-width: 1200px;
    margin: 0;
}
header {
    background-color: #333;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
info{
    padding: 70px;
    margin: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.hero {
    background-image: url('cos.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
    color: black;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    background-color: #ff6600;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.about {
    background-color: #fff;
    padding: 60px 0;
}

.about h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

.contact h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.cont{
    float: left;
    text-align: left;
}
.about{
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
img{
    width: 180px;
    size: 40%;
    height: 250px;

}
img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
    text-emphasis: 
}

.dropdown-content a {
    color: #333;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
     text-align: center;
  }

 